.features-list.row {
    display: grid;
    gap: 30px;
    /* align-items: start; */
}

.feature {
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 20px #0003;
}
.feature > i {
    font-size: 40px;
    color: red;
}
.feature > .title {
    display: block;
    margin: 20px 0;
    font-size: 22px;
}
.feature > .description {
}

@media (min-width: 767px) {
    .features-list.row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 991px) {
    .features-list.row {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
