.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form > label {
    font-size: 0;
}
.form > input,
.form > textarea {
    width: 100%;
    padding: 0.2em 1em;
    font-family: cursive;
    font-size: 20px;
    line-height: 1.1em;
}
.form > textarea {
    min-height: 4em;
    max-height: 12em;
    resize: vertical;
}
::placeholder {
    color: blue;
    font-style: italic;
}
